<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>tile_location</string>
			<key>sectionID</key>
			<integer>1</integer>
			<key>sectionName</key>
			<string>Location</string>
			<key>sectionKey</key>
			<string>Location</string>
			<key>index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>4</integer>
			<key>imageName</key>
			<string>tile_freshman</string>
			<key>sectionName</key>
			<string>Freshmen Profile</string>
			<key>sectionKey</key>
			<string>FreshManProfile</string>
			<key>index</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>3</integer>
			<key>imageName</key>
			<string>tile_scores</string>
			<key>sectionName</key>
			<string>Test Scores &amp; Grades</string>
			<key>sectionKey</key>
			<string>TestScoresAndGrades</string>
			<key>index</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>5</integer>
			<key>imageName</key>
			<string>tile_admissions</string>
			<key>sectionName</key>
			<string>Admissions</string>
			<key>sectionKey</key>
			<string>Admissions</string>
			<key>index</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>6</integer>
			<key>imageName</key>
			<string>tile_calender</string>
			<key>sectionName</key>
			<string>Calendar</string>
			<key>sectionKey</key>
			<string>Calendar</string>
			<key>index</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>8</integer>
			<key>imageName</key>
			<string>tile_fees</string>
			<key>sectionName</key>
			<string>Fees And Financial Aid</string>
			<key>sectionKey</key>
			<string>FeesAndFinancialAids</string>
			<key>index</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>7</integer>
			<key>imageName</key>
			<string>tile_study</string>
			<key>sectionName</key>
			<string>Intended Study</string>
			<key>sectionKey</key>
			<string>IntendedStudy</string>
			<key>index</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>9</integer>
			<key>imageName</key>
			<string>tile_sports</string>
			<key>sectionName</key>
			<string>Sports</string>
			<key>sectionKey</key>
			<string>Sports</string>
			<key>index</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>11</integer>
			<key>imageName</key>
			<string>tile_rank</string>
			<key>sectionName</key>
			<string>PayScale ROI Rank</string>
			<key>sectionKey</key>
			<string>PayScaleROIRankings</string>
			<key>index</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>13</integer>
			<key>imageName</key>
			<string>tile_links</string>
			<key>sectionName</key>
			<string>Links And Addresses</string>
			<key>sectionKey</key>
			<string>LinksAndAddresses</string>
			<key>index</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>2</integer>
			<key>imageName</key>
			<string>tile_schools</string>
			<key>sectionName</key>
			<string>Similar Schools</string>
			<key>sectionKey</key>
			<string>SimilarSchools</string>
			<key>index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>12</integer>
			<key>imageName</key>
			<string>tile_alumini</string>
			<key>sectionName</key>
			<string>Notable Alumini</string>
			<key>sectionKey</key>
			<string>ProminentAlumini</string>
			<key>index</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>10</integer>
			<key>imageName</key>
			<string>tile_weather</string>
			<key>sectionName</key>
			<string>Weather</string>
			<key>sectionKey</key>
			<string>Weather</string>
			<key>index</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>sectionID</key>
			<integer>14</integer>
			<key>imageName</key>
			<string>tile_facts</string>
			<key>sectionName</key>
			<string>Fast Facts</string>
			<key>sectionKey</key>
			<string>QuickFacts</string>
			<key>index</key>
			<integer>13</integer>
		</dict>
	</array>
</dict>
</plist>
