<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatesList</key>
	<array>
		<dict>
			<key>SectionTitle</key>
			<string>A</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Alabama</string>
					<key>StateCode</key>
					<string>AL</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Alaska</string>
					<key>StateCode</key>
					<string>AK</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Arizona</string>
					<key>StateCode</key>
					<string>AZ</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Arkansas</string>
					<key>StateCode</key>
					<string>AR</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>C</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>California</string>
					<key>StateCode</key>
					<string>CA</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Colorado</string>
					<key>StateCode</key>
					<string>CO</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Connecticut</string>
					<key>StateCode</key>
					<string>CT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>D</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Delaware</string>
					<key>StateCode</key>
					<string>DE</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>F</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Florida</string>
					<key>StateCode</key>
					<string>FL</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>G</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Georgia</string>
					<key>StateCode</key>
					<string>GA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>H</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Hawaii</string>
					<key>StateCode</key>
					<string>HI</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>I</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Idaho</string>
					<key>StateCode</key>
					<string>ID</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Illinois</string>
					<key>StateCode</key>
					<string>IL</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Indiana</string>
					<key>StateCode</key>
					<string>IN</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Iowa</string>
					<key>StateCode</key>
					<string>IA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>K</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Kansas</string>
					<key>StateCode</key>
					<string>KS</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Kentucky</string>
					<key>StateCode</key>
					<string>KY</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>L</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Louisiana</string>
					<key>StateCode</key>
					<string>LA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>M</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Maine</string>
					<key>StateCode</key>
					<string>ME</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Maryland</string>
					<key>StateCode</key>
					<string>MD</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Massachusetts</string>
					<key>StateCode</key>
					<string>MA</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Michigan</string>
					<key>StateCode</key>
					<string>MI</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Minnesota</string>
					<key>StateCode</key>
					<string>MN</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Mississippi</string>
					<key>StateCode</key>
					<string>MS</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Missouri</string>
					<key>StateCode</key>
					<string>MO</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Montana</string>
					<key>StateCode</key>
					<string>MT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>N</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Nebraska</string>
					<key>StateCode</key>
					<string>NE</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Nevada</string>
					<key>StateCode</key>
					<string>NV</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>New Hampshire</string>
					<key>StateCode</key>
					<string>NH</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>New Jersey</string>
					<key>StateCode</key>
					<string>NJ</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>New Mexico</string>
					<key>StateCode</key>
					<string>NM</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>New York</string>
					<key>StateCode</key>
					<string>NY</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>North Carolina</string>
					<key>StateCode</key>
					<string>NC</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>North Dakota</string>
					<key>StateCode</key>
					<string>ND</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>O</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Ohio</string>
					<key>StateCode</key>
					<string>OH</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Oklahoma</string>
					<key>StateCode</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Oregon</string>
					<key>StateCode</key>
					<string>OR</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>P</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Pennsylvania</string>
					<key>StateCode</key>
					<string>PA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>R</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Rhode Island</string>
					<key>StateCode</key>
					<string>RI</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>S</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>South Carolina</string>
					<key>StateCode</key>
					<string>SC</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>South Dakota</string>
					<key>StateCode</key>
					<string>SD</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>T</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Tennessee</string>
					<key>StateCode</key>
					<string>TN</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Texas</string>
					<key>StateCode</key>
					<string>TX</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>U</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Utah</string>
					<key>StateCode</key>
					<string>UT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>V</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Vermont</string>
					<key>StateCode</key>
					<string>VT</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Virginia</string>
					<key>StateCode</key>
					<string>VA</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>W</string>
			<key>StateNames</key>
			<array>
				<dict>
					<key>StateName</key>
					<string>Washington</string>
					<key>StateCode</key>
					<string>WA</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>West Virginia</string>
					<key>StateCode</key>
					<string>WV</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Wisconsin</string>
					<key>StateCode</key>
					<string>WI</string>
				</dict>
				<dict>
					<key>StateName</key>
					<string>Wyoming</string>
					<key>StateCode</key>
					<string>WY</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
